:root {
  --pmYellow: #f8ce81;
  --background: #fef3de;
  --iconCircleDefault: #fff9ee;
  /* --default: #ffcd74; */
  --text: #211706;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2a2a;
    --iconCircleDefault: #383838;
    --text: #ececec;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  background-color: var(--background);
  font-family: var(--system-ui);
  color: var(--text);
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  text-align: center;
}

.preview {
  height: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  border-radius: 50%;
  max-height: 33vh;
  aspect-ratio: 1 / 1;
  width: auto;
  position: sticky;
  top: 1rem;
}

.preview svg {
  max-width: 50%;
  fill: #ffcd74;
}

.colourPicker label {
  display: block;
  text-align: left;
  font-weight: 700;
  padding: 5px 0;
}

.colourPicker__options {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: 0 auto;
}

.hex-selector,
.btn-colorPicker {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  text-indent: -9999999px;
  cursor: pointer;
}

.hex-selector {
  height: 50px;
  width: 50px;
  flex: 0 0 auto;
}

.colourPicker__manual {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.colorDisplay {
  height: 50px;
  border-radius: 50px;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  font-family: var(--system-ui);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 100%;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

.iconSearch {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--text);
  border-radius: 4px;
  fill: var(--pmYellow);

  width: 80%;
  margin: 0 auto 1rem;
}

.iconSearch__input {
  width: 100%;
  padding: 1rem;
  margin: 0;
  background: white;
  border: 0;
}

.iconSearch__input:focus {
  background: #f6d49b;
  outline: none;
}

.iconSearch__options {
  max-height: 200px;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 5px;
  gap: 10px;
  overflow-y: scroll;
}

.icon-btn {
  border: 0;
  background: transparent;
}

.icon-btn svg {
  width: 25px;
  height: 25px;
}

.icon-btn:hover {
  background: #bddfff;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.options__group {
  width: 80%;
  margin: 0 auto 1rem;
}

/* @media (min-width: 650px) {
  .header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr clamp(33%, 20em, 100%);
  }
} */

.btnGroup {
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;
}

.btn {
  border-radius: 4px;
  border: 0;
  color: var(--text);
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 5px;
  text-decoration: none;
  width: 100%;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: var(--iconCircleDefault);
  border-color: var(--pmYellow);
}

.btn--icon {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  fill: var(--text);
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.output {
  overflow: hidden;
  height: 0;
}

.output__content {
  width: 1024px;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output__content svg {
  width: 50%;
  height: 50%;
}

@media (min-width: 915px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .btnGroup {
    margin-top: 2rem;
    padding: 0 2rem;
    gap: 2rem;
  }

  .options {
    padding-top: 2rem;
  }

  .options__group {
    margin-bottom: 2rem;
  }
}
